.quiz-select-selection {
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
}

.quiz-button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

button {
    font-family: 'Andika', sans-serif;
    font-size: 1.7em;
    color: black;
    border: none;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}