.home-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4em;
}

.home-intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-welcome {
    line-height: 1;
}

.home-title  {
    font-size: 2.5em;
    line-height: 1;
}

.home-intro {
    line-height: 1.2;
}

.home-grade-selection {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-button-container {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
}

.grade-btn {
    font-family: 'Andika', sans-serif;
    font-size: 1.7em;
    color: black;
    border: none;
    border-radius: 15px;
    width: 10em;
    height: 2em;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .home-container {
        flex-direction: column;
        align-items: center;
    }

    .home-welcome {
        line-height: .6;
    }
    
    .home-title  {
        font-size: 2.2em;
        line-height: .6;
    }
    
    .home-intro {
        line-height: 1.2;
    }

    .home-button-container {
        grid-template-columns: 1fr;
    }

    .home-grade-selection {
        /* border: 2px dotted blue; */
        align-items: center;
        margin-bottom: 100px;
    }

    .home-grade-selection h2 {
        text-align: center;
    }

    .grade-btn {
        color: black;
        width: 8em;
    }
}