.navbar-container {
    /* border: 2px solid green; */
    background-color: #0F52BA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 1px 7px gray;
    color: white;
    font-size: 1.5rem;
    white-space: nowrap;
    height: 70px;
}

.navbar-math-hero, .navbar-link {
    margin: 0;
    padding: 20px 10px;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    gap: 1rem;
    padding-right: 0;
    height: 70px;
    line-height: 1;
    align-items: center;
}

.navbar-links select {
    height: 50%;
    line-height: 1;
    background-color: #0F52BA;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Andika', sans-serif;
    border: 1px solid white;
}

.navbar-math-hero, .navbar-link:hover, .language-button {
    cursor: pointer;
}

.language-button:hover {
    transform: scale(1.1);
}

/* Default styles for larger screens (if any) can go outside the media query */

@media (max-width: 767px) {
    .navbar-container {
        padding: 0 1rem;
        font-size: 1rem;
    }

    .navbar-math-hero, .navbar-link {
        padding: 10px 5px;
    }

    .navbar-links {
        gap: 1rem;
    }
}


body {
    overflow-x: hidden;
}