/* .navbar-container {
    background-color: #0F52BA;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 0 10px;
    box-shadow: 0px 1px 7px gray;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border: 3px solid red;
}

.navbar-links {
    border: 3px solid pink;
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    padding-right: 10rem;
}

.navbar-math-hero {
    padding-left: 8rem;;
  } */

.navbar-container {
    background-color: #0F52BA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 1px 7px gray;
    color: white;
    font-size: 1.5rem;
    white-space: nowrap;
    height: 70px;
}

.navbar-math-hero, .navbar-link {
    margin: 0;
    padding: 20px 10px;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    gap: 4rem;
    padding-right: 0;
}

.navbar-math-hero, .navbar-link:hover {
    cursor: pointer;
}

/* Default styles for larger screens (if any) can go outside the media query */

@media (max-width: 767px) {
    .navbar-container {
        padding: 0 1rem;
        font-size: 1rem;
    }

    .navbar-math-hero, .navbar-link {
        padding: 10px 5px;
    }

    .navbar-links {
        gap: 1rem;
    }
}


body {
    overflow-x: hidden;
}