.navbar-container {
    background-color: #A7C7E7;
    display: flex;
    justify-content: space-between;
    padding: 0 7rem;
    font-size: 1.8em;
    box-shadow: 0px 1px 7px gray;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.navbar-link:hover {
    cursor: pointer;
}

@media (max-width: 767px) {
    .navbar-container {
        padding: -1rem 0;
    }
}

@media (max-width: 768px) {
    .navbar-container {
        padding: 1rem;
        font-size: 1.3em; /* Adjust as needed */
    }

    .navbar-links {
        gap: 1.5rem; /* Adjust as needed */
    }
}